[submodule "GNPS2_DeploymentTooling"]
	path = GNPS2_DeploymentTooling
	url = https://github.com/Wang-Bioinformatics-Lab/GNPS2_DeploymentTooling.git
[submodule "bin/Metabolomicsworkbench_to_REDU"]
	path = bin/Metabolomicsworkbench_to_REDU
	url = https://github.com/Wang-Bioinformatics-Lab/Metabolomicsworkbench_to_REDU.git
